@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl: 1920px;
    --color-primary: #CC5500;
}

@layer base {
    html {
        font-family: var(--font-display);
    }
}

body {
    background: #fcfbfc;
    overflow-x: hidden;
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm bg-slate-100 text-black rounded border border-slate-200 py-3 px-4 mb-4 mt-3 outline-none;
}


.btn-primary {
    @apply w-full text-sm font-medium text-white bg-amber-700 shadow-lg shadow-purple-600/10 p-2.5 hover:text-orange-700 hover:bg-amber-500/35 rounded-md my-1 cursor-pointer transition-all duration-300 ;
}

.card{
    @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
}

.card-btn{
    @apply flex items-center gap-3 text-[12px] font-medium md:text-gray-700 hover:text-amber-700 text-amber-700 md:bg-gray-50 hover:bg-amber-100/60 bg-amber-100/60 px-4 py-1.5 rounded-lg border  md:border-gray-200 hover:border-amber-700 border-amber-700 cursor-pointer;
}

.add-btn {
    @apply flex items-center gap-2 cursor-pointer px-4 py-2 rounded-md text-xs md:text-sm font-medium text-amber-600 whitespace-nowrap bg-amber-100/60 border border-amber-600 hover:text-amber-700;
}

.add-btn-fill {
    @apply text-white bg-primary hover:bg-amber-100;
}